body {
	background-color: goldenrod;
}

#clock {
	color: greenyellow;
	font-size: 100px;
	text-align: center;
	margin-top: 20%;
	margin-left: 18%;
	width: 64%;
	background-color: rgb(159, 54, 54);
	border-radius: 10px;
	border: 2px solid white;
}
